html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

main{
    height: 100%;
    width: 100%;
    display: flex;
    gap: 10px;

    section{
        background-size: cover;
        background-position: center;
        height: 100%;
        flex-grow: 1;
        transition: flex-grow 0.7s ease, transform 0.7s ease, filter 0.7s ease;
    //   background-color: black;
    //   border: 2px solid black;
      cursor: pointer;
    }
    
       section:hover{
        flex-grow: 2;
    }
    
    section:nth-child(1){
        background-image: url(https://tse3.mm.bing.net/th/id/OIP.lfHY0gX80yZzVneY2qjx9gHaNG?cb=12&rs=1&pid=ImgDetMain&o=7&rm=3);
    }
    section:nth-child(2){
        background-image: url(https://wallpaperaccess.com/full/4280410.jpg);
    }
    section:nth-child(3){
        background-image: url(https://preview.redd.it/mphsh0x24r681.jpg?auto=webp&s=c43ca5583aed96faefd23db88be0d0e82d4e4a32);
    }
    section:nth-child(4){
        background-image: url(https://wallpaperaccess.com/full/2644745.jpg);
    }
    section:nth-child(5){
        background-image: url(https://wallpaperaccess.com/full/6933599.jpg);
    }
}   
