@import "button";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}


@mixin centerFlex {
    display: flex;
    justify-content: center;
    align-items: center;
}


main{
    height: 100%;
    width: 100%;
    @include centerFlex;  
    background-color: black;

    section{
        height: 50%;
        width: 50%;
        background-color: antiquewhite;
        @include centerFlex;

        h1{
            font-family: "Segoe UI";
            color: black;
            margin: 0;
            padding: 0;
            text-align: center;
        }
    }
}

@mixin button-style($bg-color) {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: $bg-color;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    }

    .blue{
        @include button-style(blue);
        }
    .red{
        @include button-style(red);
        }